functions-framework>=3.4.0
google-cloud-storage>=2.10.0
google-cloud-aiplatform>=1.38.0
requests>=2.31.0
beautifulsoup4>=4.12.0
PyYAML>=6.0.1
pytz==2023.3
pypdf>=3.0.0
urllib3==2.0.7
pymupdf>=1.23.0
google-cloud-pubsub>=2.19.0 